@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.purple {
    color: #6030b1;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
    display: flex;
    width: 100%;
    margin: auto 0;
}


/* NAV */


nav {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__row, .nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--title {
    color: #6030b1;
    font-size: 24px;
    font-weight: bold; 
    margin-left: 10px;
}

.nav__link {
    color: #6030b1;
    font-size: 16px;
    font-weight: bold; 
    margin-right: 24px;
    text-decoration: none;
}


/* HEADER */

header {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
}

.header__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__description {
    width: 40%;
    font-display: column;
}

h1 {
    font-size: 48px;
}

.header__description--para {
    font-size: 18px;
    margin: 32px 0;
}

.header__email {
    position: absolute;
}

.header__email--input {
    background-color: white;
    padding: 20px, 192px, 20px, 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    z-index: 1;
    border: none;
    margin-top: 24px;
    opacity: 60%;
}

.header__email--btn {
    background-color: #6030b1;
    color: white;
    margin: 8px;
    padding: 14px 28px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.header__email--btn:hover {
    background-color:blueviolet
}

.header__customers--img {
    width: 400px;
    height: 30px;
    margin-top: 24px;
    opacity: 50%;
}

.header__img--wrapper {
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 100px;
}

.header__customers--title {
    margin-top: 170px;
    font-size: 12px;
    font-weight: bold;
    opacity: 50%;
}

.header__img {
    width: 600px;
    height: 400px;
}


/* FEATURES SECTION */

#features {
    display: flex;
    flex-wrap: wrap;
}

.container__features {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
}

.feature__img--wrapper {
    padding: 20px;
}

.features {
    display: flex;
    margin-top: 64px;
    flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);  
  padding: 16px 12px;
}

.section__tag--features{
    text-align: center;
    font-size: 24px;
    color: #6030b1;
    margin-bottom: 24px;
    margin-top: 124px;
}

.section__title {
    text-align: center;
    font-size: 48px;
}

.section__para {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.625;
    opacity: 50%;
    margin-top: 16px;
    line-height: 1.625;
    
}

.feature__row {
    padding: 32px 24px;
    display: flex;
}

.feature__text {
  margin: 8px 0 0 16px;
}

h2 {
    font-size: 24px;
}

.feature__para {
    font-size: 16px;
    opacity: 50%;
    margin: 16px 0 0;
    line-height: 1.625;
}


/* QUALITY */

.quality__container {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.quality__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    ;
}

.quality__description {
    width: 50%;
}

.quality__img--wrapper {
    width: 50%;
    padding-left: 24px;
    padding-top: 24px;
}

.quality__img {
    width: 600px;
    margin-top: 36px;
}

.section__tag {
    margin-top: 12px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.section__title--quality {
    font-size: 48px;
    font-weight:bolder;
}

.section__para--quality {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.625;
    opacity: 50%;
    margin-top: 16px;
    padding-right: 100px;
}

.btn {
    background-color: #6030b1;
    color: white;
    margin: 8px;
    padding: 14px 28px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 36px;
}

.btn:hover {
    background-color: blueviolet;
}


/* STEPS */

.container__steps {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 180px auto 0;
}

.row__steps {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__img { 
    width: 100%;
    max-width: 600px;
}

.steps__description {
    width: 50%;
}

.section__title {
    text-align: left;
    font-size: 48px;
    margin-top: 16px;
}

.steps__list {
    margin-top: 48px;
}

.step {
    display: flex;
    margin-bottom: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: bold;
    color: #cbd5e0;
    margin-right: 24px;
    flex-shrink: 0;
}

.step__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.step__para {
    font-size: 18px;
    line-height: 1.625;
    opacity: 50%;
    max-width: 320px;
}


/* STEPS */

.values__container {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.values__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.values__description {
    width: 50%;
}

.value__img {
    width: 600px;
    margin-top: 36px;
}

.section__tag--values {
    margin-top: 12px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #6030b1;
}

.section__title--values {
    font-size: 48px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
}

.section__para--values {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.625;
    opacity: 50%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 100px;
}

.values__img--large {
    width: 50%;
    max-width: 600px;
    margin-bottom: 50px;
}

.values__list {
    display: flex;
    flex-direction: row;
}

.value__name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
    font-weight: bold;

}

.value__para {
    font-size: 16px;
    line-height: 1.625;
    margin-top: 16px;
    margin-right: 48px;
    opacity: 50%;
}

.value__title {
    display: flex;
}

.value__img__dollar-sign--wrapper {
    margin-right: 10px;
    margin-top: 24px;
}

.value__img__briefcase--wrapper {
    margin-right: 10px;
    margin-top: 24px;
}

.values__btn {
    background-color: #6030b1;
    color: white;
    margin: 8px;
    padding: 14px 28px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 36px;
}

/* PRICING */

.pricing__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.pricing__plans {
    display: flex;
    flex-wrap: wrap;
}

.pricing__plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.pricing__section__tag {
    margin-top: 200px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1.6;
    color: #6030b1;
    font-size: 16px;
    margin-bottom: 36px;
}

.pricing__section__title {
    text-align: center;
    font-size: 48px;
    font-weight: 1000;
}

.pricing__section__para {
    text-align: center;
    margin: 36px 250px;
    line-height: 1.625;
    opacity: 50%;
}

.plan__stripe1 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 50%);
    margin-right: 24px;
}

.plan__stripe3 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(239, 72, 72) 0%, rgb(230, 129, 154) 50%);
    margin-left: 24px;
}

.plan__name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    margin-top: 36px;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.625;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
    opacity: 50%;
    margin-bottom: 70px;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.625;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: bold;
    opacity: 50%;
    font-size: 16px;
    line-height: 1.625;
}

.plan__button1 {
    color: white;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    margin: 8px;
    padding: 14px 43px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 36px;
}

.plan__button2 {
    color:#6030b1;
    background: white;
    margin: 8px;
    padding: 14px 43px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 36px;
}

.plan__button3 {
    color: white;
    background: linear-gradient(115deg, rgb(245, 103, 103) 0%, rgb(232, 143, 154) 100%);
    margin: 8px;
    padding: 14px 43px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 36px;
}

.plan__top2 {
    background: linear-gradient(115deg, rgb(95, 65, 246) 0%, rgb(123, 99, 245) 100%);
    border-radius: 16px 16px 0 0 ;
     
}

.plan__middle2 {
    background: linear-gradient(115deg, rgb(98, 71, 238) 0%, rgb(130, 130, 240) 100%);
    padding-top: 35px
    
}

.plan__bottom2 {
    background: linear-gradient(115deg, rgb(121, 96, 245) 0%, rgb(131, 131, 238) 100%);
    border-radius: 0 0 16px 16px;
    padding-bottom: 24px;
}

.plan__name2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    margin-top: 36px;
    color: white;
}

.plan__price2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.625;
    margin: 4px 0;
    color: white;
}

.plan__duration2 {
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.625;
    opacity: 50%;
    margin-bottom: 35px;
    color: white;
}


.plan__target2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.625;
    letter-spacing: 0.025em;
    color: white;
}

.plan__feature2 {
    margin-top: 20px;
    opacity: 50%;
    font-size: 16px;
    line-height: 1.625;
    color: white;
}

.plan__bottome {
    padding-bottom: 24px;
}


/* TESTIMONIALS */

.testimonials__container {
    width: 100%;
}

.testimonials__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.testimonials__img {
    width: 50%;
    margin-right: 48px;
    margin-top: 75px;
}

.testimonials__description {
    width: 50%;
}

.testimonial__profile img {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.testimonials__section__tag {
    font-size: 16px;
    color: #6030b1;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-top: 150px;
}

.testimonials__section__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.625;
    letter-spacing: 0.025em;
}

.testimonials__section__para {
    font-size: 18px;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.625;
}

.fa-star {
    color: rgb(246 173 85);
    letter-spacing: 0.3em;
    margin-top: 36px;
}

.testimonial__title {
    color: rgb(98, 96, 96);
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    opacity: 50%;
}

.testimonial__profile {
    display: flex;
}

.testimonial__name {
    color: rgb(98, 96, 96);
    line-height: 1.625;
    font-size: 20px;
    font-weight: 700;
    margin-left: 16px;
    margin-top: 16px;
}

.testimonial__role {
    font-weight: 500;
    line-height: 1.625;
    margin-left: 16px;
    opacity: 50%;



 /* START */
start
}

 .start__container {
    background-color: #6030b1;
    padding: 96px 0;
    width: 100%;
    max-width: 1200px;
    margin: 150px auto;
    border-radius: 8px;
    
 }

 .start__row {
    display: flex;
    flex-direction: row;
    padding: 0 32px;
 }

 .start__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.625;
    color: white;
    z-index: 2;
    text-align: left;
    width: 50%;
    margin: 0 128px;
 }

 h1 {
    font-size: 30px;
 }

 .start__buttons {
    width: 50%;
 }

 .start__button--btn1 {
    color: white;
    background:rgb(245, 103, 103);
    margin: 8px;
    padding: 24px 43px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 36px;
 }

 .start__button--btn2 {
    color:white;
    background: #6030b1;
    margin: 8px;
    padding: 24px 43px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 36px;
    margin-left: 24px;
    border: white, solid, .5px;
 }




/* FOOTER  */

footer 
}
footer {
  background-color: #6030b1 ;
  color: white;
  padding: 64px 24px 32px;
  font-size: 14px;
  line-height: 1.625;
}

footer {
 background-color: #6030b1;
  color: white;
  padding: 64px 24px 32px;
  font-size: 14px;
  line-height: 1.625;
}

.footer__row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__column--title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}


.footer__divider {
  height: 1px;
  background-color: #2c3a60;
  margin: 32px 0;
}


.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__logo--img {
  width: 32px;
}

.footer__logo--text {
  font-weight: 700;
  font-size: 16px;
}

.footer__copyright {
  color: #7c8ba1;
  font-size: 16px;
}
